body{
  background-color: #251D3A;
}

/* total card group */
.main-card{
  width: 60%;
  text-align: center;
  margin: 150px auto;
}

/* image-card */
.img{
  padding: 0;
  filter: opacity(0.4) drop-shadow(0 0 0 #2E0249);
}

/* text-card */
.text{
  text-align: left;
  background-color: #2A2550;
  color:#fff;
  padding:30px;
}

h2{
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

p{
  margin-bottom: 40px;
  font-family: 'Lexend Deca', sans-serif;
  color:#EEF2FF;
}

/* number row */
.num h3{
  margin-bottom: 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}
